<header>
    <h1 class="page-header text-center">
        <a href="{{ path('homepage') }}" class="toHomepage">
            <img src="{{ asset('images/Louvre-panora.jpg') }}" class="website-logo" alt="Musée du Louvre">
        </a><br>
        <small>Billeterie du LOUVRE</small>
    </h1>
</header>
